
/*styles for content wrapper and search block*/

section.task_content {
    background-color: #F2F8F6;
    padding: 15px 0px;
}

div.content_wrapper{
    border: 2px solid #C1D5DC;
    padding: 5px;
    background-color: #E7F0EF;
}

div.search_cont {
    margin-bottom: 15px;
}

div.search_cont input {
    width: calc(100% - 74px);
    border: 1px solid #ccc;
    padding: 5px;
}

div.search_cont button {
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
}
/*styles for content wrapper and search block end*/

/**** style for images block ****/

.all_img_block {
    position: relative;
}

.success_message {
    display: none;
    position: absolute;
    width: 100%;
    top: calc(50% - 16px);
    text-align: center;
}

.success_message h3 {
    color: #16b316;
    transform: scale(0.1);
    transition: all 0.5s;
}

.success_message.active_massage h3 {
    transform: scale(1);
}

div#flickr_images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px dashed #C1D5DC;
    min-height: 250px;
}

div#flickr_images img {
    max-height: 120px;
    margin: 5px;
}


div#flickr_images img.draggingImg {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.3;
}

img.draggable  {
    transition: transform 0.8s;
}
img.droppedImage {
    transform: scale(0.2);
}

/**** style for images block end ****/


/**** style for folders block  ****/


div.images_folders {
    display: flex;
    margin: 15px 0px;
}

div.images_folders .dropFolder {
    width: 100%;
    height: 70px;
    background-color: #84C5FD;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
div.images_folders div.hover{
    border: 2px solid red;
}

.images_folders  {
    margin-bottom: 0px;
    color: #fff;
    font-size: 30px;
}

.images_folders_content .photos_basket{
    display: none;
}
.photos_basket img {
    max-height: 75px;
    margin: 0px 5px;
    pointer-events: none;
}

/**** style for folders block end ****/
